
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add cookies</title>
</head>
<body>
    <h1>Add Cookie</h1>
    <form method="POST" action="/">
        <input type="text" name="key">
        <input type="text" name="value">
        <input type="submit" value="Submit">
    </form>
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
            <% for(let key in cookies) {%>
            <tr>
		<td><%=key%></td>
            	<td><%=cookies[key]%></td>
	    </tr>
            <%}%>
    </table>
</body>
</html>
