<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS</title>
</head>
<body>
    <h1>Product!</h1>
    <div>Name: <%=name%></div>
    <div>Price: <%=price%></div>
    <div>
        <form method="POST" action="/addToCart">
            <input type="hidden" name="name" value="<%=name%>">
            <input type="submit" name="submit" value="Add to Card">
        </form>
    </div>
</body>
</html>
