<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS</title>
</head>
<body>
    <form method="POST" action="/result">
        <label>Name <input type="text" name="name"></label>
        <label>Age <input type="text" name="age"></label>
        <input type="submit" name="submit" value="Submit Query">
    </form>
</body>
</html>

